<!doctype html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>

<div class="container">


    <div style="display: flex; justify-content: center; margin-top: 25px;">
        <h3 class="mr-4">Brand Report</h3>
        </button>
    </div>


    <!-- Blank Row -->
    <div class="row">
        &nbsp;
    </div>
    <div class="row">

        <!-- Table -->
        <div class="col-12">
            <table class="table table-striped table-hover" id="brandReport-table">
                <thead>
                <tr>
                    <th scope="col">S.No.</th>
                    <th scope="col">Brand</th>
                    <th scope="col">Category</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>

        </div>
    </div>


</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>

<script th:src="@{/static/brandReport.js}"/>
</script>

</body>

</html>