<!doctype html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>

<div class="container">

<h3>Inventory Report</h3>

	<div style = "display: flex; justify-content: center">
		<button type="button" class="btn btn-primary mr-2" onclick="downloadCSV()">Download Report</button>
	</div>


<!-- Blank Row -->
<div class="row">
	&nbsp;
</div>
<div class="row">

 <!-- Table -->
 <div class="col-12">
	<table class="table table-dark table-hover" id="inventoryReport-table">
	  <thead>
	    <tr>
	      <th scope="col">S.No.</th>
	      <th scope="col">Brand</th>
	      <th scope="col">Category</th>
	      <th scope="col">Quantity</th>
	    </tr>
	  </thead>
	  <tbody>

	  </tbody>
	</table>

</div>
</div>


	<div th:replace="snippets.html :: name_toast"></div>

</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>

<script th:src="@{/static/inventoryReport.js}"/></script>

</body>	

</html>