<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>
<section class="vh-100" style="background-color: #f1f1f1;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img th:src="@{/static/images/loginImage.jpeg}"
                                 alt="login form" class="img-fluid"
                                 style="border-radius: 1rem 0 0 1rem; height: 100%;"/>
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">

                                <form class="form" id="login-form" method="POST" th:action="@{/session/login}">

                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <span class="h1 fw-bold mb-0">Increff POS</span>
                                    </div>

                                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Login into your
                                        account</h5>

                                    <div class="form-outline mb-4">
                                        <input type="email" name="email" id="email"
                                               class="form-control form-control-lg" required/>
                                        <label for="email" class="form-label">Email address</label>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input type="password" name="password" id="password"
                                               class="form-control form-control-lg" minlength="8" maxlength="8"
                                               required/>
                                        <label class="form-label" for="password">Password</label>
                                    </div>

                                    <div class="pt-1 mb-4">
                                        <button class="btn btn-dark btn-lg btn-block" id="login" type="submit">Login
                                        </button>
                                        <br>
                                        <hr>
                                        <a class="btn btn-secondary btn-lg btn-block" id="signup"
                                           href="/pos/site/signup">Create new account
                                        </a>
                                    </div>

                                    <p class="mb-5 pb-lg-2" style="color: #393f81;">[[${info.getMessage()}]]</p>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>

<footer th:replace="snippets.html :: name_footer"></footer>

</html>